:root {
  --el-color-white: #ffffff;
  --el-color-black: #000000;
  --el-color-primary-rgb: 64, 158, 255;
  --el-color-success-rgb: 103, 194, 58;
  --el-color-warning-rgb: 230, 162, 60;
  --el-color-danger-rgb: 245, 108, 108;
  --el-color-error-rgb: 245, 108, 108;
  --el-color-info-rgb: 144, 147, 153;
  --el-font-size-extra-large: 20px;
  --el-font-size-large: 18px;
  --el-font-size-medium: 16px;
  --el-font-size-base: 14px;
  --el-font-size-small: 13px;
  --el-font-size-extra-small: 12px;
  --el-font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
  --el-font-weight-primary: 500;
  --el-font-line-height-primary: 24px;
  --el-index-normal: 1;
  --el-index-top: 1000;
  --el-index-popper: 2000;
  --el-border-radius-base: 4px;
  --el-border-radius-small: 2px;
  --el-border-radius-round: 20px;
  --el-border-radius-circle: 100%;
  --el-transition-duration: 0.3s;
  --el-transition-duration-fast: 0.2s;
  --el-transition-function-ease-in-out-bezier: cubic-bezier(0.645, 0.045, 0.355, 1);
  --el-transition-function-fast-bezier: cubic-bezier(0.23, 1, 0.32, 1);
  --el-transition-all: all var(--el-transition-duration) var(--el-transition-function-ease-in-out-bezier);
  --el-transition-fade: opacity var(--el-transition-duration) var(--el-transition-function-fast-bezier);
  --el-transition-md-fade: transform var(--el-transition-duration) var(--el-transition-function-fast-bezier),
    opacity var(--el-transition-duration) var(--el-transition-function-fast-bezier);
  --el-transition-fade-linear: opacity var(--el-transition-duration-fast) linear;
  --el-transition-border: border-color var(--el-transition-duration-fast) var(--el-transition-function-ease-in-out-bezier);
  --el-transition-box-shadow: box-shadow var(--el-transition-duration-fast) var(--el-transition-function-ease-in-out-bezier);
  --el-transition-color: color var(--el-transition-duration-fast) var(--el-transition-function-ease-in-out-bezier);
  --el-component-size-large: 40px;
  --el-component-size: 32px;
  --el-component-size-small: 24px;
  --el-loading-spinner-size: 42px;
  --el-loading-fullscreen-spinner-size: 50px;
  --el-menu-item-height: 56px;
  --el-menu-horizontal-sub-item-height: 36px;
  --el-menu-base-level-padding: 20px;
  --el-menu-level-padding: 20px;
  --el-menu-icon-width: 24px;
}
:root {
  color-scheme: light;
  --el-color-white: #ffffff;
  --el-color-black: #000000;
  /* --el-color-primary: #409eff; */
  --el-color-primary: #3f73f6 !important;
  /* --el-color-primary-light-3: #79bbff; */
  --el-color-primary-light-3: rgba(63, 115, 246, 0.8) !important;
  /* --el-color-primary-light-5: #a0cfff; */
  --el-color-primary-light-5: #e8e8e8 !important; /*disabled color*/
  --el-color-primary-light-7: #c6e2ff;
  --el-color-primary-light-8: #d9ecff;
  --el-color-primary-light-9: #ecf5ff;
  --el-color-primary-dark-2: #337ecc;
  --el-color-success: #67c23a;
  --el-color-success-light-3: #95d475;
  --el-color-success-light-5: #b3e19d;
  --el-color-success-light-7: #d1edc4;
  --el-color-success-light-8: #e1f3d8;
  --el-color-success-light-9: #f0f9eb;
  --el-color-success-dark-2: #529b2e;
  --el-color-warning: #e6a23c;
  --el-color-warning-light-3: #eebe77;
  --el-color-warning-light-5: #f3d19e;
  --el-color-warning-light-7: #f8e3c5;
  --el-color-warning-light-8: #faecd8;
  --el-color-warning-light-9: #fdf6ec;
  --el-color-warning-dark-2: #b88230;
  --el-color-danger: #f56c6c;
  --el-color-danger-light-3: #f89898;
  --el-color-danger-light-5: #fab6b6;
  --el-color-danger-light-7: #fcd3d3;
  --el-color-danger-light-8: #fde2e2;
  --el-color-danger-light-9: #fef0f0;
  --el-color-danger-dark-2: #c45656;
  --el-color-error: #f56c6c;
  --el-color-error-light-3: #f89898;
  --el-color-error-light-5: #fab6b6;
  --el-color-error-light-7: #fcd3d3;
  --el-color-error-light-8: #fde2e2;
  --el-color-error-light-9: #fef0f0;
  --el-color-error-dark-2: #c45656;
  --el-color-info: #909399;
  --el-color-info-light-3: #b1b3b8;
  --el-color-info-light-5: #c8c9cc;
  --el-color-info-light-7: #dedfe0;
  --el-color-info-light-8: #e9e9eb;
  --el-color-info-light-9: #f4f4f5;
  --el-color-info-dark-2: #73767a;
  --el-bg-color: #ffffff;
  --el-bg-color-page: #f2f3f5;
  --el-bg-color-overlay: #ffffff;
  --el-text-color-primary: #303133;
  --el-text-color-regular: #606266;
  --el-text-color-secondary: #909399;
  --el-text-color-placeholder: #a8abb2;
  --el-text-color-disabled: #c0c4cc;
  --el-border-color: #dcdfe6;
  --el-border-color-light: #e4e7ed;
  --el-border-color-lighter: #ebeef5;
  --el-border-color-extra-light: #f2f6fc;
  --el-border-color-dark: #d4d7de;
  --el-border-color-darker: #cdd0d6;
  --el-fill-color: #f0f2f5;
  --el-fill-color-light: #f5f7fa;
  --el-fill-color-lighter: #fafafa;
  --el-fill-color-extra-light: #fafcff;
  --el-fill-color-dark: #ebedf0;
  --el-fill-color-darker: #e6e8eb;
  --el-fill-color-blank: #ffffff;
  --el-box-shadow: 0px 12px 32px 4px rgba(0, 0, 0, 0.04), 0px 8px 20px rgba(0, 0, 0, 0.08);
  --el-box-shadow-light: 0px 0px 12px rgba(0, 0, 0, 0.12);
  --el-box-shadow-lighter: 0px 0px 6px rgba(0, 0, 0, 0.12);
  --el-box-shadow-dark: 0px 16px 48px 16px rgba(0, 0, 0, 0.08), 0px 12px 32px rgba(0, 0, 0, 0.12), 0px 8px 16px -8px rgba(0, 0, 0, 0.16);
  --el-disabled-bg-color: var(--el-fill-color-light);
  --el-disabled-text-color: var(--el-text-color-placeholder);
  --el-disabled-border-color: var(--el-border-color-light);
  --el-overlay-color: rgba(0, 0, 0, 0.8);
  --el-overlay-color-light: rgba(0, 0, 0, 0.7);
  --el-overlay-color-lighter: rgba(0, 0, 0, 0.5);
  --el-mask-color: rgba(255, 255, 255, 0.9);
  --el-mask-color-extra-light: rgba(255, 255, 255, 0.3);
  --el-border-width: 1px;
  --el-border-style: solid;
  --el-border-color-hover: var(--el-text-color-disabled);
  --el-border: var(--el-border-width) var(--el-border-style) var(--el-border-color);
  --el-svg-monochrome-grey: var(--el-border-color);
}

/* .el-alert {
  --el-alert-padding: 8px 16px;
  --el-alert-title-font-size: 13px;
  --el-alert-description-font-size: 12px;
  --el-alert-close-font-size: 12px;
  --el-alert-close-customed-font-size: 13px;
  --el-alert-icon-size: 16px;
  --el-alert-icon-large-size: 28px;
}

.el-avatar {
  --el-avatar-text-size: 14px;
  --el-avatar-icon-size: 18px;
  --el-avatar-size-large: 56px;
  --el-avatar-size: 40px;
  --el-avatar-size-small: 24px;
  --el-avatar-size: 40px;
}

.el-badge {
  --el-badge-radius: 10px;
  --el-badge-font-size: 12px;
  --el-badge-padding: 6px;
  --el-badge-size: 18px;
}

.el-button {
  --el-button-divide-border-color: rgba(255, 255, 255, 0.5);
}

.el-button--large {
  --el-button-size: 40px;
}
.el-button--small {
  --el-button-size: 24px;
}

.el-calendar {
  --el-calendar-cell-width: 85px;
}

.el-carousel {
  --el-carousel-arrow-font-size: 12px;
  --el-carousel-arrow-size: 36px;
  --el-carousel-arrow-background: rgba(31, 45, 61, 0.11);
  --el-carousel-arrow-hover-background: rgba(31, 45, 61, 0.23);
  --el-carousel-indicator-width: 30px;
  --el-carousel-indicator-height: 2px;
  --el-carousel-indicator-padding-horizontal: 4px;
  --el-carousel-indicator-padding-vertical: 12px;
}

.el-checkbox {
  --el-checkbox-font-size: 14px;
  --el-checkbox-input-height: 14px;
  --el-checkbox-input-width: 14px;
}

.el-collapse {
  --el-collapse-header-height: 48px;
  --el-collapse-header-font-size: 13px;
  --el-collapse-content-font-size: 13px;
}

.el-color-picker,
.el-color-picker__panel {
  --el-color-picker-alpha-bg-a: #ccc;
  --el-color-picker-alpha-bg-b: transparent;
}
.dark .el-color-picker,
.dark .el-color-picker__panel {
  --el-color-picker-alpha-bg-a: #333333;
}

.el-date-editor {
  --el-date-editor-width: 220px;
  --el-date-editor-monthrange-width: 300px;
  --el-date-editor-daterange-width: 350px;
  --el-date-editor-datetimerange-width: 400px;
  --el-input-transparent-border: 0 0 0 1px transparent inset;
}

.el-dialog {
  --el-dialog-width: 50%;
  --el-dialog-margin-top: 15vh;
  --el-dialog-content-font-size: 14px;
  --el-dialog-padding-primary: 20px;
}
.el-dialog.is-fullscreen {
  --el-dialog-width: 100%;
  --el-dialog-margin-top: 0;
}

.el-dropdown {
  --el-dropdown-menu-index: 10;
}

.el-dropdown__popper {
  --el-dropdown-menu-index: 10;
}

.el-empty {
  --el-empty-padding: 40px 0;
  --el-empty-image-width: 160px;
  --el-empty-description-margin-top: 20px;
  --el-empty-bottom-margin-top: 20px;
  --el-empty-fill-color-1: #fcfcfd;
  --el-empty-fill-color-2: #f8f9fb;
  --el-empty-fill-color-3: #f7f8fc;
  --el-empty-fill-color-4: #eeeff3;
  --el-empty-fill-color-5: #edeef2;
  --el-empty-fill-color-6: #e9ebef;
  --el-empty-fill-color-7: #e5e7e9;
  --el-empty-fill-color-8: #e0e3e9;
  --el-empty-fill-color-9: #d5d7de;
}

.el-footer {
  --el-footer-padding: 0 20px;
  --el-footer-height: 60px;
}

.el-form-item {
  --font-size: 14px;
}

.el-form-item--large {
  --font-size: 14px;
}

.el-form-item--default {
  --font-size: 14px;
}

.el-form-item--small {
  --font-size: 12px;
}

.el-header {
  --el-header-padding: 0 20px;
  --el-header-height: 60px;
}

.el-textarea {
  --el-input-transparent-border: 0 0 0 1px transparent inset;
}

.el-input {
  --el-input-transparent-border: 0 0 0 1px transparent inset;
}

.el-message-box {
  --el-messagebox-width: 420px;
  --el-messagebox-border-radius: 4px;
  --el-messagebox-error-font-size: 12px;
  --el-messagebox-padding-primary: 15px;
}

.el-message {
  --el-message-padding: 15px 19px;
  --el-message-close-size: 16px;
}

.el-notification {
  --el-notification-width: 330px;
  --el-notification-padding: 14px 26px 14px 13px;
  --el-notification-radius: 8px;
  --el-notification-icon-size: 24px;
  --el-notification-group-margin-left: 13px;
  --el-notification-group-margin-right: 8px;
  --el-notification-title-font-size: 16px;
}

.el-pagination {
  --el-pagination-font-size: 14px;
  --el-pagination-border-radius: 2px;
  --el-pagination-button-width: 32px;
  --el-pagination-button-height: 32px;
  --el-pagination-font-size-small: 12px;
  --el-pagination-button-width-small: 24px;
  --el-pagination-button-height-small: 24px;
  --el-pagination-item-gap: 16px;
}

.el-popover {
  --el-popover-padding: 12px;
  --el-popover-padding-large: 18px 20px;
  --el-popover-title-font-size: 16px;
  --el-popover-border-radius: 4px;
}

.el-radio {
  --el-radio-input-height: 14px;
  --el-radio-input-width: 14px;
}

.el-rate {
  --el-rate-height: 20px;
  --el-rate-icon-size: 18px;
  --el-rate-icon-margin: 6px;
  --el-rate-fill-color: #f7ba2a;
}

.el-result {
  --el-result-padding: 40px 30px;
  --el-result-icon-font-size: 64px;
  --el-result-title-font-size: 20px;
  --el-result-title-margin-top: 20px;
  --el-result-subtitle-margin-top: 10px;
  --el-result-extra-margin-top: 30px;
}

.el-scrollbar {
  --el-scrollbar-opacity: 0.3;
  --el-scrollbar-hover-opacity: 0.5;
}

.el-select {
  --el-select-input-font-size: 14px;
}

.el-slider {
  --el-slider-border-radius: 3px;
  --el-slider-height: 6px;
  --el-slider-button-size: 20px;
  --el-slider-button-wrapper-size: 36px;
  --el-slider-button-wrapper-offset: -15px;
}

.el-tag {
  --el-tag-font-size: 12px;
  --el-tag-border-radius: 4px;
  --el-tag-border-radius-rounded: 9999px;
}

.el-timeline {
  --el-timeline-node-size-normal: 12px;
  --el-timeline-node-size-large: 14px;
}

.el-tooltip-v2__content {
  --el-tooltip-v2-padding: 5px 10px;
  --el-tooltip-v2-border-radius: 4px;
}

.el-transfer {
  --el-transfer-panel-width: 200px;
  --el-transfer-panel-header-height: 40px;
  --el-transfer-panel-footer-height: 40px;
  --el-transfer-panel-body-height: 278px;
  --el-transfer-item-height: 30px;
  --el-transfer-filter-height: 32px;
}

.el-upload {
  --el-upload-dragger-padding-horizontal: 40px;
  --el-upload-dragger-padding-vertical: 10px;
}

.el-upload--picture-card {
  --el-upload-picture-card-size: 148px;
}

.el-upload-list--picture-card {
  --el-upload-list-picture-card-size: 148px;
}

.el-statistic {
  --el-statistic-title-font-weight: 400;
  --el-statistic-content-font-weight: 400;
} */
