input,
.selectable,
.selectable * {
  -webkit-touch-callout: text;
  /*系统默认菜单被禁用*/
  -webkit-user-select: text;
  /*webkit浏览器*/
  -khtml-user-select: text;
  /*早期浏览器*/
  -moz-user-select: text;
  /*火狐*/
  -ms-user-select: text;
  /*IE10*/
  user-select: text;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-start {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.flex-start-top {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.flex-end {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flex-v {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.flex-v-start {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
}

.ml5 {
  margin-left: 5px;
}

.ml8 {
  margin-left: 8px;
}

.ml10 {
  margin-left: 10px;
}

.ml15 {
  margin-left: 15px;
}

.ml20 {
  margin-left: 20px;
}

.ml25 {
  margin-left: 25px;
}

.mr5 {
  margin-right: 5px;
}

.mr10 {
  margin-right: 10px;
}

.mr15 {
  margin-right: 15px;
}

.mr20 {
  margin-right: 20px;
}

.mr25 {
  margin-right: 25px;
}

.mt5 {
  margin-top: 5px;
}

.mt10 {
  margin-top: 10px;
}

.mt15 {
  margin-top: 15px;
}

.mt20 {
  margin-top: 20px;
}

.mt25 {
  margin-top: 25px;
}

.mt30 {
  margin-top: 30px;
}

.mb5 {
  margin-bottom: 5px;
}

.mb10 {
  margin-bottom: 10px;
}

.mb15 {
  margin-bottom: 15px;
}

.mb20 {
  margin-bottom: 20px;
}

.p5 {
  padding: 5px;
}

.p10 {
  padding: 10px;
}

.p20 {
  padding: 20px;
}

.pt5 {
  padding-top: 5px;
}

.pt10 {
  padding-top: 10px;
}

.pt15 {
  padding-top: 15px;
}

.pt20 {
  padding-top: 20px;
}

.pr5 {
  padding-right: 5px;
}

.pr10 {
  padding-right: 10px;
}

.pr15 {
  padding-right: 15px;
}

.pr20 {
  padding-right: 20px;
}

.pr40 {
  padding-right: 40px;
}

.pb4 {
  padding-bottom: 4px;
}

.pb5 {
  padding-bottom: 5px;
}

.pb10 {
  padding-bottom: 10px;
}

.pb15 {
  padding-bottom: 15px;
}

.pb20 {
  padding-bottom: 20px;
}

.pl5 {
  padding-left: 5px;
}

.pl10 {
  padding-left: 10px;
}

.pl15 {
  padding-left: 15px;
}

.pl20 {
  padding-left: 20px;
}

.pb40 {
  padding-bottom: 40px;
}

.single-line-text-ellipsis {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.multi-line-text-ellipsis {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  box-orient: vertical;
}

.line-2 {
  -webkit-line-clamp: 2;
  line-clamp: 2;
}

.line-3 {
  -webkit-line-clamp: 3;
  line-clamp: 3;
}

.line-4 {
  -webkit-line-clamp: 4;
  line-clamp: 4;
}

.break-word {
  word-wrap: break-word !important;
  word-break: break-word !important;
}

.pointer {
  cursor: pointer;
}

/* elementui样式修改 */

/* 按钮样式修改 */
.el-button {
  border-radius: 6px !important;
  font-size: 14px;
  height: 32px;
  line-height: 31px;
  padding-top: 0;
  padding-bottom: 0;

  img {
    position: relative;
    right: 2px;
    top: 1.5px;
    width: 14px;
    height: 14px;
  }

  .svg-icon {
    position: relative;
    right: 2px;
    top: 1.5px;
    width: 14px;
    height: 14px;
  }
}

// 弹窗样式
.el-dialog {
  transform: translateY(-50%);
  border-radius: 6px;

  .el-dialog__header {
    height: 40px;
    padding: 20px 24px 10px;

    .el-dialog__title {
      font-size: 14px;
      position: relative;
      bottom: 10px;
    }

    .el-dialog__headerbtn {
      top: 11px;

      .el-dialog__close {
        color: #343f67;
        font-weight: 500;
      }
    }
  }

  .el-dialog__body {
    padding: 0px 0px 12px 0px;
  }
}

.el-button--default {
  color: #333;
}

/* 输入框修改 */
.el-input__inner {
  color: #333;
}

/* 去除table的每一条数据的下边框 */
.el-table td {
  border-bottom: none;
}

/* 去除表格的最下面一行的边框 */
.tableStyle::before {
  width: 0;
}

/* 设置表的外边框 */
.el-table {
  border: none;
  border-radius: 0px;

  .el-table__header {
    height: 56px;

    th {
      background-color: #fafafa !important;
      font-family: PingFangSC-Medium;
      font-weight: 500;
      font-size: 14px;
      color: #333;
    }
  }

  .el-table__body {
    .el-table__row {
      height: 56px;
      font-family: PingFangSC-Regular;
      font-weight: 400;
      font-size: 14px;
      color: #333;
    }
  }

  .el-table--border tr,
  td {
    border: none !important;
  }
}

.el-table::before {
  height: 0 !important;
}

.el-message {
  min-width: 26%;
  padding-top: 11px;
  padding-bottom: 11px;
}

.el-message__content {
  color: #333 !important;
}

.el-message--success {
  border-color: #b7eb8f;
  background-color: #f6ffed;
}

.el-message--error {
  border-color: #ffa39e;
  background-color: #fff1f0;
}

.el-message--warning {
  border-color: #ffe58f;
  background-color: #fffbe6;
}

.el-message--info {
  border-color: #91d5ff;
  background-color: #e6f7ff;
}

.el-message--info .el-icon-info {
  color: #1890ff;
}

.el-input__suffix {
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-responsible {
  max-width: 100%;
}

.lh0 {
  line-height: 0;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background-color: rgba(200, 200, 200, 0);
}
/* 滚动条上的滚动滑块 */
::-webkit-scrollbar-thumb {
  background-color: #f0f1f2;
}
// 表格头部修改
.el-table__header-wrapper {
  height: 40px;
}
.el-table__header {
  height: 40px !important;
}
.el-table__header tr,
.el-table__header th {
  padding: 0;
  height: 40px !important;
  .cell {
    position: relative;
    bottom: 4px;
    color: #222;
  }
}
// .el-table_1_column_1{
//   .cell {
//     padding-left:24px !important;
//   }
// }
.el-table tr {
  .el-table__cell:first-child {
    .cell {
      padding-left: 24px !important;
    }
  }
}
// 改变表格悬停背景颜色
.el-table--enable-row-hover .el-table__body tr:hover > td {
  background-color: @MainBgA005 !important;
}

// 输入框修改
.el-input {
  input {
    border: 1px solid #d9d9d9;
    border-radius: 6px;
    height: 32px;
    line-height: 32px;
    font-family: "PingFang SC";
    &:hover {
      border-color: rgba(98, 93, 245, 0.2);
    }
    &:focus {
      border-color: var(--c-blue-1);
    }
  }
  input::placeholder {
    color: #999 !important;
  }
}

// 选择框箭头颜色修改
.el-select .el-input .el-select__caret {
  color: #333 !important;
}

.nt-input-item {
  .el-input {
    .el-input__wrapper {
      padding: 0;
    }
    input {
      height: 36px;
      padding-left: 28px;
      border: 1px solid #d9d9d9;
      border-radius: 4px;
      font-size: 14px;
      color: #333;
      font-family: "PingFang SC";
    }
  }
  .prefix-input-icon-wrapper {
    position: absolute;
    width: 28px;
    height: 100%;
    left: 0;
    top: 0;
    padding-bottom: 20px;
    &.without-padding {
      padding: 0;
    }
    img {
      width: 12px;
    }
  }
  .icon-error,
  .icon-success {
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-right: 5px;
    background-size: 100% 100%;
  }
  .icon-error {
    background-image: url(../imgs/icon_cross.png);
  }
  .icon-success {
    background-image: url(../imgs/icon_tick.png);
  }
}

.el-input__inner:hover {
  border-color: rgba(98, 93, 245, 0.2);
}

input::-ms-clear,
input::-ms-reveal {
  display: none;
}

input::-webkit-credentials-auto-fill-button {
  display: none !important;
  visibility: hidden;
  pointer-events: none;
  position: absolute;
  right: 0;
}
input:focus::-webkit-contacts-auto-fill-button {
  opacity: 0;
}

input::-webkit-input-placeholder {
  color: #999 !important;
  font-size: 14px;
}
input::-moz-placeholder {
  color: #999 !important;
  font-size: 14px;
}
input:-moz-placeholder {
  color: #999 !important;
  font-size: 14px;
}
input::-ms-input-placeholder,
input:-ms-input-placeholder {
  color: #999 !important;
  font-size: 14px;
}

.el-textarea__inner {
  color: #333;
  font-size: 14px;
  font-weight: 500 !important;
  font-family: "PingFang SC";
  font-style: normal;
}

.el-overlay {
  background: rgba(47, 61, 105, 0.1) !important;
}
